### ********************************** DADOS DA ECommerce API ******************************* ###

ENV=Development
URI=https://ninjabay-rodolfo-trugillo.herokuapp.com/api/v1
HEADER={ "Accept: application/json", "Content-Type": "application/json-patch+json" }

USER_ADMIN=euadmin@email.com
PASS_USER_ADMIN=123456

### ============================================================================================== ###
